.active {
  color: yellow;
  padding: 10px;
  font-size: 20px
  
 }

.inactive {
  color: white;
  padding: 10px;
  font-size: 20px
}

.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card-details {
  margin-top: 10px;
}

.card h3 {
  margin: 0;
  font-size: 20px;
}

.card p {
  margin: 5px 0;
}
.agent-card {
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
